<main class="index">
    <div class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Imagenes favoritas</h1>
            <h3>
                <em>Almacena tus imagenes favoritas</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Sign Up
            </a>
        </div>
    </div>
</main>